<!----------------- progressbar ------------------>
<div *ngIf="isLoading | async" class="overlay">
    <mat-progress-bar mode="indeterminate" class="spinner" color="accent"></mat-progress-bar>
</div>
<!------------------- progressbar end ------------------------->

<!-------------------- nav-bar ---------------------------->
<nav class="navbar navbar-expand-lg mb-3">
    <div class="navbar-collapse">
        <h1 class="navbar-nav ">Todo-List</h1>
    </div>
    <form class="mx-auto w-25 mt-4 mb-4">
        <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" class="input-search" placeholder="Search Task..." aria-label="Search"
                [(ngModel)]="searchValue" name="search" (keyup)="search()" autocomplete="off">
        </div>
    </form>
</nav>
<!--------------------------- nav-bar end ----------------------------------->

<!----------------------------------- collaps for add todo ---------------------------------->
<div class="container mb-3">
    <div class="row" style="justify-content: center;">
        <div class="col-6">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title (click)="close()">
                            Add todo
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="enterTodo">
                        <mat-form-field appearance="outline" class="addInput ">
                            <mat-label>Enter Todo</mat-label>
                            <input matInput placeholder="Enter Your Todo" [(ngModel)]="taskDetails.name">
                        </mat-form-field>
                        <button mat-raised-button color="primary" (click)="addAllDetails()">Add</button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
<!----------------------------------- collapsend for add todo -------------------------------------------->

<!-------------------------------------- card for value show ---------------------------------------->
<section>
    <div class="container overflow-auto" style="height: 700px;">
        <div class="row d-flex justify-content-around">
            <ng-container *ngFor="let item of mainTaskData; let i =index">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                    <mat-card>
                        <mat-card-header class="d-flex justify-content-between align-items-center todo-header"
                            style="padding: 0 10px; ">
                            <mat-card-title>
                                <span *ngIf="!item.isTodoInput" class="todo-name text-capitalize">{{ item.name }}</span>
                                <div *ngIf="item.isTodoInput" class="d-flex">
                                    <input type="text" [(ngModel)]="editTask.name">
                                    <button mat-icon-button color="primary" (click)="updateMainTaskDetail()"
                                        matTooltip="Save Update Todo" matTooltipPosition="above">
                                        <mat-icon>save</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)="closeIn(item)"
                                        matTooltip="Cancel Update Todo" matTooltipPosition="above">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </div>
                            </mat-card-title>
                            <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Edit & Delete Todo"
                                matTooltipPosition="above">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-icon-button color="primary" (click)="editTodo(item)"
                                    matTooltip="Edit Todo Name" matTooltipPosition="above">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" (click)="deleteTodo(item.id)"
                                    matTooltip="Delete Todo" matTooltipPosition="above">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-menu>
                        </mat-card-header>
                        <mat-card-header style="padding: 0;">
                            <div>
                                <div class="d-flex mt-2">
                                    <button mat-icon-button (click)="buttonAnimation(item)" matTooltip="Add New Task"
                                        matTooltipPosition="above">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <mat-form-field *ngIf="item.isInput" appearance="outline" class="task-input"
                                        style="width: 100%; ">
                                        <input matInput [(ngModel)]="taskInnerItem.name"
                                            class="task-input text-capitalize" placeholder="Enter Task">
                                    </mat-form-field>
                                    <button mat-icon-button *ngIf="item.isInput" (click)="addInnerItem(item.id)"
                                        style="color: rgb(54, 131, 189);" matTooltip="Save Add Task"
                                        matTooltipPosition="above">
                                        <mat-icon>save</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card-header>
                        <mat-card-content style="height: 200px; overflow: scroll;">
                            <mat-list role="list" *ngFor="let initems of item.tasks">
                                <mat-list-item role="listitem" class="list-item">
                                    <div class="row d-flex ">
                                        <div class="col-xxl-9 col-xl-9 col-lg-9 col-sm-9 col-8">
                                            <div class="d-inline d-flex singleTask">
                                                <input type="checkbox" class="me-2" [(ngModel)]="initems.isCompleted"
                                                    (change)="isTaskCompleted(item.id,initems)">
                                                <input type="text" class="taskInput" [value]="initems.name"
                                                    *ngIf="!initems.isTaskInput" [disabled]="!initems.isTaskInput"
                                                    style="width: -webkit-fill-available; background-color: white;">
                                                <input type="text" class="taskInput" *ngIf="initems.isTaskInput"
                                                    [(ngModel)]="editTask.name">
                                            </div>
                                        </div>
                                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-3 col-4">
                                            <div class=" show-action-btn">
                                                <i class="material-icons taskReturn " *ngIf="initems.isTaskInput"
                                                    (click)="closeIn(initems)" matTooltip="Cancel Update Task"
                                                    matTooltipPosition="above">reply</i>
                                                <i class="material-icons taskSave" *ngIf="initems.isTaskInput"
                                                    (click)="updateItemMethod(item.id,initems)" matTooltip="Update Task"
                                                    matTooltipPosition="above">save</i>
                                                <i class="material-icons taskEdit " *ngIf="!initems.isTaskInput"
                                                    (click)="editItem(initems)" matTooltip="Edit Task"
                                                    matTooltipPosition="above">edit</i>
                                                <i class="material-icons taskDelete" *ngIf="!initems.isTaskInput"
                                                    (click)="deleteItems(item.id,initems.id)" matTooltip="Delete Task"
                                                    matTooltipPosition="above">delete</i>
                                            </div>
                                        </div>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </mat-list>
                        </mat-card-content>
                        <mat-card-footer>
                            <p class="singleListItemDate ms-3">{{ item.addedon | date}}</p>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </ng-container>
        </div>
    </div>
</section>
<!------------------------------------ cardend for value show ------------------------------------------------->

<!---------------------------------------- footer ------------------------------------------------------>
<footer>
    <p>
        Created with <i class="fa fa-heart"></i> by
        <a target="_blank" href="https://ankitdomadiya.blogspot.com/">Ankit</a>
        Follow me :
        <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
        <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
        <a target="_blank" href="#"><i class="fab fa-codepen"></i></a>
        <a target="_blank" href="#"><i class="fab fa-dev"></i></a>
        <a target="_blank" href="#"><i class="fab fa-twitter-square"></i></a>
    </p>
</footer>
<div class="youtubeBtn">
    <a target="_blank" href="https://ankitdomadiya.blogspot.com/">
        <!-- <span>Watch on YouTube</span> -->
        <i class="fas fa-blog"></i>
    </a>
</div>
<!----------------------------------------- footer end -------------------------------------------------->