<!-- progressbar -->
<!-- <div *ngIf="isLoading | async" class="overlay">
    <mat-progress-bar mode="indeterminate" class="spinner" color="accent"></mat-progress-bar>
    <h1 class="loader">don't refresh window your task is running</h1>
</div> -->

<!-- nav bar -->

<nav class="navbar navbar-expand-lg">
    <div class="navbar-collapse">
        <h1 class="navbar-nav ">Todo-List</h1>
    </div>
</nav>

<!-- search box  -->
<!-- <nav class="">
    <div class="container-fluid">
        <img src="assets/logo.png" alt="logo" class="navbar-logo">
    </div>
</nav> -->
<form class="mx-auto w-25 mt-4 mb-4">


    <div class="search-box">
        <button class="btn-search"><i class="fas fa-search"></i></button>
        <input type="text" class="input-search" placeholder="Search Task..." aria-label="Search"
            [(ngModel)]="searchValue" name="search" (keyup)="search()" autocomplete="off">
    </div>
</form>

<!-- value adding section  -->
<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <a class="form-control task" data-bs-toggle="collapse" (click)="close()" href="#collapseExample"
                    aria-controls="collapseExample" style="text-decoration: none;">
                    Task A Note ...
                </a>
            </div>
            <section class="d-flex justify-content-center">
                <div class="collapse taskbody " id="collapseExample">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item ">
                                <input type="text" class="form-control mb-1 itemTitle" id="floatingInput" name="title"
                                    [(ngModel)]="taskDetails.name  " placeholder="Title">
                            </li>
                            <li class="list-group-item"></li>
                        </ul>
                    </div>
                    <div class="btn btn-primary d-flex justify-content-center" (click)="addAllDetails()"
                        *ngIf="!isTaskChangeBtn" data-bs-toggle="collapse" href="#collapseExample"
                        aria-controls="collapseExample">submit</div>
                    <!-- <div class="btn btn-primary" (click)="updateMainTaskDetail()" *ngIf="isTaskChangeBtn"
                        data-bs-toggle="collapse" href="#collapseExample" aria-controls="collapseExample">Edit</div> -->
                </div>
            </section>
        </div>
    </div>
</div>

<!-- all values  -->
<section class="container mt-5">
    <div class="row">
        <ng-container *ngFor="let item of mainTaskData let i = index;">
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-5 ">
                <div class="card" style="max-width: 25rem; max-height: 18rem;">
                    <div class="card-header ">
                        <!-- <h2 class="mb-0">{{item.name}}</h2> -->
                        <div class="">
                            <input type="text" *ngIf="!item.isTodoInput" [value]="item.name"
                                [disabled]="!item.isTodoInput">
                            <input type="text" *ngIf="item.isTodoInput" [value]="item.name" [(ngModel)]="editTask.name">
                        </div>

                        <div *ngIf="item.isTodoInput">
                            <!-- <i class="material-icons text-success fs-5 ms-2" (click)="updateMainTaskDetail()">save</i> -->
                            <Button (click)="updateMainTaskDetail()">S</Button>
                            <i class="material-icons text-danger fs-5 ms-1" type="submit" (click)="close()">close</i>
                        </div>

                        <div *ngIf="!item.isTodoInput" class="hiden-icon" >
                            <i class="text-primary material-icons me-3" (click)="editTodo(item)">edit</i>
                            <i class="text-danger material-icons" (click)="deleteTodo(item.id)">delete_forever</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- button hide and show -->
                        <i class="fa fa-plus" (click)="buttonAnimation(item)"></i>
                        <span class="ms-3" *ngIf="item.isInput">
                            <input type="checkbox" name="checkbox" [(ngModel)]="taskInnerItem.isCompleted">
                            <input [(ngModel)]="taskInnerItem.name" class="addbutton ms-2 me-2" type="text">
                            <i class="material-icons text-success" (click)="addInnerItem(item.id)"
                                aria-hidden="true">save</i>
                        </span>
                        <ol style="list-style-type: none; overflow: auto; height: 170px; ">
                            <ng-container *ngFor="let initems of item.tasks">
                                <li class="todo-li pt-2">
                                    <div>
                                        <input type="checkbox" class="me-2" [(ngModel)]="initems.isCompleted"
                                            [checked]="initems.isCompleted" (change)="isTaskCompleted(item.id,initems)">
                                        <input type="text" *ngIf="!initems.isTaskInput" [value]="initems.name"
                                            [disabled]="!initems.isTaskInput">
                                        <input type="text" *ngIf="initems.isTaskInput" [value]="initems.name"
                                            [(ngModel)]="editTask.name">
                                    </div>

                                    <!-- <div >
                                            <button type="submit" class="" *ngIf="initems.isTaskInput"
                                        (click)="updateItemMethod(item.id,initems)">y</button>
                                        </div> -->

                                    <div *ngIf="initems.isTaskInput">
                                        <i class="material-icons text-success fs-5 ms-2" type="submit"
                                            (click)="updateItemMethod(item.id,initems)">save</i>
                                        <!-- <button type="submit" (click)="updateItemMethod(item.id,initems)">y</button> -->
                                        <i class="material-icons text-danger fs-5 ms-1" type="submit"
                                            (click)="closeIn(initems)">close</i>
                                    </div>

                                    <div class="hover-to-show-action" *ngIf="!initems.isTaskInput">
                                        <i class="text-primary material-icons fs-5 ms-2" type="submit"
                                            (click)="editItem(initems)">edit</i>
                                        <i type="button" class="material-icons text-danger fs-5 ms-1"
                                            (click)="deleteItems(item.id,initems.id)">delete_forever</i>
                                    </div>
                                    <!-- <label *ngIf="!initems.isCompleted">
                                        {{initems.name}}
                                    </label> -->
                                    <!-- <label *ngIf="initems.isCompleted">
                                        <del>
                                            {{initems.name}}
                                        </del>
                                    </label> -->
                                </li>
                            </ng-container>
                        </ol>
                        <hr style="margin: 0;">
                        <p style="display: flex; font-size: 11px; color: gray; padding: 0;">{{ item.addedon | date }}
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</section>

<!-- footer -->

<footer>
    <p>
        Created with <i class="fa fa-heart"></i> by
        <a target="_blank" href="https://ankitdomadiya.blogspot.com/">Ankit</a>
        Follow me :
        <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
        <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
        <a target="_blank" href="#"><i class="fab fa-codepen"></i></a>
        <a target="_blank" href="#"><i class="fab fa-dev"></i></a>
        <a target="_blank" href="#"><i class="fab fa-twitter-square"></i></a>
    </p>
</footer>

<div class="youtubeBtn">
    <a target="_blank" href="https://ankitdomadiya.blogspot.com/">
        <!-- <span>Watch on YouTube</span> -->
        <i class="fas fa-blog"></i>
    </a>
</div>