.navbar-logo {
    height: 70px;
}

.border-none {
    border: none;
}

.task-note {
    width: 25%;
}

.btn {
    padding: 8px;
}

.card {
    border: none;
}

.loader {
    text-align: center;
}

.heding-shadow {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.text-shadow {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

// ########## Task Entering ############

.task {
    width: 40%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.taskbody {
    width: 40%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.addbutton {
    border: none;
    // box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.size {
    border: none;
    background-color: white;
}

.overflow-auto {
    overflow: none !important;
}

/*---------- for Loader css -----------*/
.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(74, 74, 74, 0.418);
    z-index: 99999;
}

.spinner {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    z-index: 99999;
}







.navbar {
    background-color: #526D82;
    color: #fff;
    height: 50px;
}

.navbar-nav {
    margin: 0 auto;
}

.hiden-icon{
    display: none!important;
}

.card-header:hover .hiden-icon{
    display: block!important;
    cursor: pointer;
}







@media screen and (max-width: 768px) {
    .navbar-logo {
        height: 50px;
    }

    .task {
        width: 50%;
    }

    .btn {
        padding: 5px;
    }
}

@media screen and (max-width: 576px) {
    .card {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 425px) {
    .navbar-logo {
        height: 40px;
    }

    .btn {
        padding: 4px;
    }
}

@media screen and (max-width: 375px) {
    .navbar-logo {
        height: 30px;
    }

    .task-body {
        width: 50%;
    }

    h5 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .navbar-logo {
        display: none;
    }

    .navbar {
        margin-left: 40px;
    }

    h5 {
        font-size: 15px;
    }

    p {
        font-size: 13px;
    }
}